@import "../css/header.css";
@import "../css/works.css";
@import "../css/galery.css";
@import "../css/team.css";
@import "../css/susan.css";
@import "../css/download.css";
@import "../css/social.css";
@import "../css/author.css";

body{
font-size: 14px;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}


@media screen and (max-width:1170px) {
  .container{
      width: 90%;
  }
}