.team{
  width: 100%;
}

.team_cards{
  padding-top: 101px; 
  margin: 0 -15px 0 -15px;
}

.team_cards ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 text-align: left;
}

.team_items{
  max-width: 270px;
  padding: 0 15px 0 15px;
}

.name{
  padding-top: 30px;
  color: #2d3033;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 400;
}

.position{
  padding-top: 16px;
  color: #e84545;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 400;
}
.text{
  padding-top: 29px;
  color: #6c7279;
  font-family: 'Raleway';
  font-weight: 400;
  line-height: 21px;
}

.team_icon i{
  color: #c6cacc;
  font-size: 16px;
  padding: 12px;
}


